$Primary : #fd2d01;
$Secondary: #ffd7d7;
$Third: #a5a6aa;

#account {
    display: flex;
    justify-content: center;
}

.account-container {
    border: 2px solid $Primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    height: auto;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;

    form {
        justify-self: center;
        align-self: center;
    }

    img {
        height: 5rem;
        width: 5rem;
    }


    #change-profil {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 2rem;
        border-radius: 15px;
        box-shadow: 5px 5px 15px 5px $Third;
        margin-bottom: 10px;
        background-color: white;

        &:hover {
            cursor: pointer;
            transform: scale(1.04);
        }

    }

    p {
        display: flex;
        align-self: center;
        margin-bottom: 10px;
    }

    input {
        border: $Primary 2px solid;
        border-radius: 15px;
    }

    #profile-picture {
        border: 1px solid $Third;
        border-radius: 5px;
        height: 1.25rem;
    }

    #change-profil {
        height: 2.2rem;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 11rem;
        border: none;
    }

    #deleteProfil {

        width: 4rem;
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }

    #showProfil {
        width: 3.5rem;
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }
}



/* -------------- UserSearch ----------- */

#showProfil2 {
    border-radius: 15px;
    align-items: flex-start;
    padding: 0.5rem;
    width: 85%;

    #user-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .image-container {
        img {
            width: 6rem;
            border-radius: 15px;
            margin-right: 0.5rem;
        }
    }
}
.user-result{
    display: flex;
    border: 2px solid $Primary;
    align-items: center;
    justify-content: flex-start;
    justify-items: center;
    margin-left: 5%;
    
    #result-user-info{
        margin-top: 40px;
    }
    
}

@media screen and (min-width: 745px) {
    .account-container {
        width: 60%;
    }

    #showProfil2 {
        
        margin-left: 20%;
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
   #showProfil2 {
        margin-left: 32%;
        width: 45%;
    }
}