body {
  width: 100%;
}

li {
  list-style: none;
}

.log-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  height: auto;
  border-radius: 20px;
  width: 90%;
  border: #fd2d01 2px solid;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0.5rem;
  padding: 0.3rem;
  gap: 0.8rem;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
  width: auto;
  height: 100%;
  gap: 1rem;
}

.connexion-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
}

#login, #sign-up {
  list-style: none;
  width: auto;
  margin-left: 0px;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active-btn {
  border: 1px solid #a5a6aa;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.active-btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 5px 5px 15px 5px #a5a6aa;
          box-shadow: 5px 5px 15px 5px #a5a6aa;
}

li:not(.active-btn):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 5px 5px 15px 5px #a5a6aa;
          box-shadow: 5px 5px 15px 5px #a5a6aa;
}

input {
  background: white;
  height: 2rem;
  width: 80%;
  border-radius: 20px;
  border: #fd2d01 1px solid;
}

input[type="submit"] {
  margin-right: 14px;
  height: 2.5rem;
  width: 90%;
  border: #a5a6aa 1px solid;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
}

input[type="submit"]:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-box-shadow: 5px 5px 15px 5px #a5a6aa;
          box-shadow: 5px 5px 15px 5px #a5a6aa;
}

@media screen and (min-width: 745px) {
  .log-container {
    border-radius: 20px;
    width: 90%;
    border: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-container {
    width: 60%;
    border: #fd2d01 2px solid;
    border-radius: 20px;
  }
  .form-container ul {
    width: 40%;
  }
  #sign-in-form {
    width: 60%;
  }
  #sign-in-form input[type="submit"] {
    width: 80%;
  }
  #search-bar {
    width: 12rem;
  }
}

@media screen and (min-width: 1020px) {
  .form-container {
    width: 50%;
  }
}
/*# sourceMappingURL=login.css.map */