
$Primary : #fd2d01;
$Secondary: #ffd7d7;
$Third: #a5a6aa;

*{margin: 0px;

.nav-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: $Primary;
    height: 8rem;
    width: 100%;
    margin-bottom: 3rem;
    .logo{
        height: 8rem;
        display: flex;
        justify-content: center;
        align-self: center;
        padding-left: 3%;
    }
    h5{
        color: black;
        font-size: 2rem;
        margin-right: 10%;
    }
    img{
        height: 2rem;
        width: 2rem;
    }
    .nav-logo {
        background-color: blue;
    }
}
}